header {
  font-size: 70px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.game-info {
  font-size: 40px;
  text-align: center;
  padding: 20px 0px;
}

.board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board .tile {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark {
  font-size: 70px;
}
